$electric-blue: #001ed2;
$dark-blue: #00003c;

$futuristic-turquoise: #00ebc8;
$sustainable-green: #8cf000;
$trustworthy-yellow: #ffeb00;
$safety-red: #fa3746;
$fuchsia: #e43af1;
$orange: #ff7100;

$mid-grey: #f7f7f7;
$grey: #ececf0;
$greyish: #d6dce2;

// Tints
$electric-blue-tint-40: #00127e;
