@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "./colors";

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
}

body {
  background: #fff;
  color: $dark-blue;
}

main {
  &.content {
    position: relative;
    width: 100%;
    min-height: 100dvh;
  }
}

section {
  &.container {
    margin-left: 20rem;
  }
}

div {
  &.max-width {
    max-width: 1440px;
    margin: 0 auto;
    padding: 5rem 6.75rem;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
}

nav {
  &.nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.5rem;
    background: $mid-grey;
    border-right: 1px solid $grey;
    width: 20rem;
    height: 100%;
  }
  ul {
    list-style-type: none;
  }
}
