@import "./colors";

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: tng-pro, sans-serif;
}

body {
  background: #fff;
  color: $dark-blue;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
}

header {
  &.header {
    padding: 0 1.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: $dark-blue;

    & a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: $greyish;
        transition: color 0.4s ease;
      }
    }
  }
}

main {
  &.content {
    position: relative;
    width: 100%;
    min-height: 100dvh;
  }
}

section {
  &.container {
    margin-left: 12rem;
  }
}

div {
  &.max-width {
    max-width: 1440px;
    margin: 0 auto;
    padding: 5rem 4.5rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
}

nav {
  &.nav {
    position: fixed;
    top: 2.5rem;
    left: 0;
    padding: 1.5rem;
    background: $mid-grey;
    border-right: 1px solid $grey;
    width: 12rem;
    height: 100%;
  }
  ul {
    list-style-type: none;
  }
}
